@mixin btn-bgr($bgr, $color, $bgr-activated: $color, $color-activated: $bgr) {
  background-color: $bgr;
  color: $color;
  font-weight: bold;

  &:hover {
    background-color: $bgr-activated;
    color: $color-activated;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

@function breakpoints($breakpoint) {
  @return map-get($grid-breakpoints, $breakpoint);
}

$grid-breakpoints: (
  xxs: 360px,
  xs: 481px,
  sm: 768px,
  smplus: 769px,
  md: 992px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1450px,
  xxxl: 1650px,
  largeDesktop: 2000px,
);

@mixin large-desktop {
  @media screen and (min-width: #{breakpoints(largeDesktop)}) {
    @content;
  }
}

@mixin min-xxxl {
  @media screen and (min-width: #{breakpoints(xxxl)}) {
    @content;
  }
}

@mixin min-xxl {
  @media screen and (min-width: #{breakpoints(xxl)}) {
    @content;
  }
}

@mixin min-xl {
  @media screen and (min-width: #{breakpoints(xl)}) {
    @content;
  }
}

@mixin min-lg {
  @media screen and (min-width: #{breakpoints(lg)}) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: #{breakpoints(md)}) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: #{breakpoints(sm)}) {
    @content;
  }
}

@mixin min-smplus {
  @media (min-width: #{breakpoints(sm) + 1px}) {
    @content;
  }
}

@mixin min-xs {
  @media screen and (min-width: #{breakpoints(xs)}) {
    @content;
  }
}

@mixin min-xxs {
  @media screen and (min-width: #{breakpoints(xxs)}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{breakpoints(lg) + 1px}) {
    @content;
  }
}
